[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-django = "*"

[packages]
django = "==2.2.21"
requests = "*"
grequests = "*"

[requires]
python_version = "3.7"
